h1{
    font-family: "Playwrite GB S", cursive;
    color: blueviolet;
    font-size:x-large;
    text-align: center;
    text-decoration:underline;
    text-transform: uppercase;
    font-style: italic;
    background-color: aquamarine;
    font-weight: bolder;
    
}
p{
    font-family: "Playwrite GB S", cursive;
    font-weight: 300;
    text-align: center;
    line-height: 36px;  
}
a{
    text-align: center;
    color: yellow;
}



a:visited{
    color: rgb(71, 66, 66);
}

a:hover{
    color:blue;
}
a:active{
    color: red;
}
img{
    width:300px;
    height:300px;
    border: 5px outset black;
    border-top: none;
}






p:link{
    color: rgb(20, 233, 77);

}
p:hover{
    color: aqua;
}
p:active{
    color: brown;
}